# deps
node_modules/

# General
.DS_STORE

# Language versions
.node-version

# Editors
*.sublime-workspace
*.sublime-project

# Package control
npm-debug.log
yarn*
package-lock.json

# Build articfacts
dist/